.friends .friends__plus {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  padding: 20px 0px;
  margin: 20px 0px;
}

.friends__plus .friends__plus-title,
.friends .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.friend__add-btn {
  display: flexx;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
}
